@media screen and (max-width: 1280px){

}
@media screen and (max-width: 970px){
    
    .header, .div-titulo, .div.titulo h1, .contenedor, .div-formulario, .div-listado, .div-listado h2, .div-empleado, hr, .btn, .btn-editar, .btn-eliminar{
        flex-direction: column;
    }
}
@media screen and (max-width: 767px){

    .header, .div-titulo, .div.titulo h1, .contenedor, .div-formulario, .div-listado, .div-listado h2, .div-empleado, hr, .btn, .btn-editar, .btn-eliminar{
        flex-direction: column;
    }
}
@media screen and (max-width: 600px){

    .header, .div-titulo, .div.titulo h1, .contenedor, .div-formulario, .div-listado, .div-listado h2, .div-empleado, hr, .btn, .btn-editar, .btn-eliminar{
        flex-direction: column;
    }
}
@media screen and (max-width: 400px){

    .header, .div-titulo, .div.titulo h1, .contenedor, .div-formulario, .div-listado, .div-listado h2, .div-empleado, hr, .btn, .btn-editar, .btn-eliminar{
        flex-direction: column;
    }
}